In [2]:
import os
import numpy as np
import pandas as pd

In [8]:
# 設定資料夾位置與檔案名稱
folder = 'D:\shiang\MyCode\Github\ML100Days\homework\data'
file_name = 'application_train.csv'
file_path = os.path.join(folder,file_name)
rawdata = pd.read_csv(file_path)

In [96]:
# 前n列 or 後 n 列
n = 10
rawdata.head(n)
rawdata.tail(n)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307501,456245,0,Cash loans,F,N,Y,3,81000.0,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,Cash loans,F,N,Y,1,94500.0,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,Cash loans,F,N,Y,0,112500.0,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,Cash loans,F,N,Y,0,153000.0,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,F,N,Y,0,112500.0,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [34]:
### get row/col count
(nrow,ncol) = rawdata.shape
print('The row count of application_train.csv is %s' %(nrow))
print('The column count of application_train.csv is %s' %(ncol))

The row count of application_train.csv is 307511
The column count of application_train.csv is 122

In [32]:
# Get column name
print('The column names are as below :')
for col in rawdata.columns:
    print(col)

The column names are as below :
SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [49]:
# Filiter Data by Some Condition
# Select Column
col3_a = rawdata[['SK_ID_CURR','TARGET','CODE_GENDER']]
col3_b = rawdata[rawdata.columns[[0,1,2]]]
print(col3_a.head())
print(col3_b.head())
#

   SK_ID_CURR  TARGET CODE_GENDER
0      100002       1           M
1      100003       0           F
2      100004       0           M
3      100006       0           F
4      100007       0           M
   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
0      100002       1         Cash loans
1      100003       0         Cash loans
2      100004       0    Revolving loans
3      100006       0         Cash loans
4      100007       0         Cash loans

In [67]:
# 選取第二列第三欄的元素
rawdata.iloc[1,3]

# 選取第一二列
rawdata.iloc[[0,1],:]

NameError: name 'rowdata' is not defined

In [86]:
# 選取 CODE_GENDER 為 M 且 NAME_CONTRACT_TYPE 為 'Cash loans'的列
filter1 = rawdata['CODE_GENDER']=='M'
filter2 = rawdata['NAME_CONTRACT_TYPE'] == 'Cash loans'
rawdata[ filter1 & filter2 ]
## or
# rawdata[ (rawdata['CODE_GENDER']=='M') & (rawdata['NAME_CONTRACT_TYPE'] == 'Cash loans') ]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
15,100019,0,Cash loans,M,Y,Y,0,157500.0,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.0,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
24,100029,0,Cash loans,M,Y,N,2,135000.0,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
27,100032,0,Cash loans,M,N,Y,1,112500.0,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.0,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
33,100039,0,Cash loans,M,Y,N,1,360000.0,733315.5,39069.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
37,100044,0,Cash loans,M,N,Y,0,121500.0,454500.0,15151.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
44,100051,0,Cash loans,M,N,Y,0,202500.0,661702.5,48280.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
49,100056,0,Cash loans,M,Y,Y,0,360000.0,1506816.0,49927.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
51,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
52,100060,0,Cash loans,M,Y,N,0,76500.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
54,100062,0,Cash loans,M,Y,N,0,81000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
58,100069,0,Cash loans,M,Y,Y,1,360000.0,640458.0,27265.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
59,100070,0,Cash loans,M,Y,Y,0,540000.0,1227901.5,46899.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
61,100072,0,Cash loans,M,N,N,0,180000.0,1080000.0,44118.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
62,100073,0,Cash loans,M,Y,Y,0,324000.0,1130760.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
64,100076,0,Cash loans,M,Y,N,0,180000.0,315000.0,9679.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
65,100077,0,Cash loans,M,N,Y,0,180000.0,1256400.0,40657.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0
69,100081,0,Cash loans,M,Y,N,0,180000.0,450000.0,21109.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
70,100082,0,Cash loans,M,N,N,2,180000.0,450000.0,21109.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
72,100084,0,Cash loans,M,N,Y,2,225000.0,495351.0,26140.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
73,100085,0,Cash loans,M,N,Y,1,157500.0,755190.0,28894.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
77,100089,0,Cash loans,M,N,Y,0,135000.0,337761.0,15781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307396,456129,0,Cash loans,M,N,Y,0,135000.0,298512.0,29655.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307400,456133,0,Cash loans,M,N,Y,0,67500.0,47970.0,5296.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307405,456138,0,Cash loans,M,N,Y,0,49500.0,432661.5,26419.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307415,456148,0,Cash loans,M,Y,Y,0,180000.0,589045.5,30204.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307421,456154,0,Cash loans,M,Y,Y,0,157500.0,144000.0,9751.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307423,456156,0,Cash loans,M,N,N,0,90000.0,119448.0,7632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
307432,456165,0,Cash loans,M,N,Y,0,135000.0,840951.0,42934.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307433,456171,1,Cash loans,M,N,Y,0,50400.0,113760.0,7731.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307435,456173,0,Cash loans,M,Y,Y,0,189000.0,675000.0,19737.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307438,456176,1,Cash loans,M,N,Y,0,171000.0,1436850.0,42142.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307439,456177,0,Cash loans,M,N,Y,0,247500.0,900000.0,50386.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307442,456180,0,Cash loans,M,Y,Y,1,135000.0,90000.0,9580.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307446,456184,1,Cash loans,M,N,N,0,270000.0,900000.0,40671.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307448,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307449,456187,0,Cash loans,M,Y,Y,1,315000.0,1175314.5,38974.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307451,456190,0,Cash loans,M,Y,N,1,450000.0,545040.0,25407.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307454,456193,0,Cash loans,M,N,N,0,157500.0,1332000.0,39078.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307455,456194,0,Cash loans,M,N,Y,1,157500.0,225000.0,15165.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307459,456198,0,Cash loans,M,Y,Y,0,225000.0,959017.5,49095.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307460,456199,0,Cash loans,M,Y,N,1,382500.0,745429.5,24354.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307474,456214,0,Cash loans,M,Y,Y,2,135000.0,360000.0,23004.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307487,456231,0,Cash loans,M,N,Y,0,117000.0,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307490,456234,0,Cash loans,M,N,Y,0,81000.0,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,Cash loans,M,Y,Y,2,90000.0,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307494,456238,0,Cash loans,M,Y,N,1,270000.0,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,M,Y,N,0,180000.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.0,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)

filter = ironmen_df["ironmen"] > 10 # 參賽人數大於 10
ironmen_df[filter] # 篩選 data frame

       groups  ironmen
0  Modern Web       59
2       Cloud       19
3    Big Data       14
5       自我挑戰組       77

In [94]:
# filter 函數用於 欄名or列名 的 filter
rawdata.filter(like="CODE",axis=1)

       CODE_GENDER
0                M
1                F
2                M
3                F
4                M
5                M
6                F
7                M
8                F
9                M
10               F
11               F
12               F
13               M
14               F
15               M
16               M
17               F
18               F
19               F
20               M
21               F
22               F
23               F
24               M
25               F
26               F
27               M
28               M
29               M
...            ...
307481           M
307482           F
307483           F
307484           F
307485           F
307486           F
307487           M
307488           F
307489           F
307490           M
307491           M
307492           M
307493           F
307494           M
307495           M
307496           F
307497           F
307498           M
307499           F
307500           F
307501           F
307502           F
307503           F
307504           F
307505           F
307506           M
307507           F
307508           F
307509           F
307510           F

[307511 rows x 1 columns]